@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*     "*"" :all*/
*{
   margin: 0; padding: 0;
   /*크기를 고정*/
   box-sizing: border-box;
}
a{
   /*밑줄제거*/
   text-decoration:  none;
}
ul{
   /*블릿을 숨김*/
   list-style: none;
}
img {
   width: 400px
}
#container{
   /*너비*/
   width: 1200px;
   /*위아래 값 0 //좌,우 auto반드시 width속성이 있어야함*/
   margin : 0 auto;
   /*배경색*/
   background: #FFFFF0;
}

header{
   background-color:   #FFA500;
   height: 80px;
   color: white;
   /*padding : 크기에 영향을 줌*/
   padding-left: 40px; padding-top: 0px;
   }

header h1{
   /*웹폰트(서체)적용*/
   font-family: 'Pacifico', cursive;
   /*글자크기*/
   font-size: 48px;
   /*background-color: red;*/
   width: 250px;
   display: inline-block;
   margin-right: 200px;
}

header nav{
   /*background-color: blue;*/
   width: 670px;
   display: inline-block;
}

header nav li{
      margin-right: 90px;
}

header a{
      color: white;
   }
header nav li{
   display: inline-block;
}
header nav a:hover{
   color: black;
}
/*자식식별자*/
main>section img{
   /*각모서리가 둥글게바뀜*/
   border-radius: 20px;
}
/*치유의섬*/
/*id="headling"*/
#headling{
   /*background-color: green;*/
}
/*자식 : >*/
#headling>h2{
   /*위,아래,왼쪽,오른쪽 공간확보*/
   padding: 30px;
}
#headling .detail{
   /*background-color: orange;*/
   /*위치제어의 기준*/
   position: relative;
}
/*class : .*/
#headling.detail>img{
      margin: 30px;
   /*padding: 30px;*/
}
#headling .detail>h3{
   /*위치이동 absolute는 요소가 겹칠수 있음*/
   position: absolute;top:30px;left: 500px;
}
#headling .detail>p{
   position: absolute;top: 70px;left: 500px;
}
#headling .schedule{
   position: relative;top: -150px;left: 500px;
}
#headling .schedule h3{
   /*기존 행높이의 배수*/
   line-height: 2;
}
#headling .schedule li{
   line-height: 30px;
}

/*엑티비티한 섬*/
/*id="activity"*/
#activity{
   /*background-color: green;*/
}

/*자식선택자*/
#activity>h2{
   /*위,아래,왼쪽,오른쪽 공간확보*/
   padding: 30px;
}

#activity .detail{
   /*background-color: orange;*/
   /*위치제어의 기준*/
   position: relative;
}

#activity.detail>img{
      margin: 30px;
}

#activity .detail>h3{
   /*위치이동 absolute는 요소가 겹칠수 있음*/
   position: absolute;top: 30px;left: 500px;
}

#activity .detail>p{
   position: absolute;top: 100px;left: 500px;
}

footer{
   /*background-color: green;*/
   border-top: 2px solid black;
   padding: 10px 10px 10px 200px;

}
footer ul li{
   display: inline-block;
   /*padding: 20px0;*/
   margin: 40px;
   padding-right: 20px;
   border-right: 2px solid black;
}

footer ul li a{
   color: black;
}